/*
 ┌──────────────────────────────────────────────────────────────┐
 │                          THEME FILE                          │
 ├──────────────────────────────────────────────────────────────┤
 │  If you want to modify the Console UI theme,                 │
 │  do not directly edit this file.                             │
 │  Declare all overrides in `public/styles/theme-override.css` │
 └──────────────────────────────────────────────────────────────┘
*/
@use 'theme-variables' as theme;

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/material-symbols-rounded.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('./fonts/FunnelDisplay-Variable-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('./fonts/FunnelDisplay-Variable-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('./fonts/GoogleSans-Variable-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('./fonts/GoogleSans-Variable-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url('./fonts/GoogleSans-Variable-Italic-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url('./fonts/GoogleSans-Variable-Italic-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Host Grotesk';
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('./fonts/HostGrotesk-Variable-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Host Grotesk';
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('./fonts/HostGrotesk-Variable-latin-ext.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.symbols-fill {
  font-variation-settings: 'FILL' 1;
}

html {
  //// Primitives
  // Font
  --headline-font: 'Funnel Display';
  --body-font: 'Google Sans', 'Host Grotesk', sans-serif;
  // Accent
  --red-20: #f1d1ce;
  --red-20-opacity: color-mix(in srgb, var(--red-20) 8%, transparent);
  --red-30: #e16c62;
  --red-50: #c23c34;
  --green-20: #c7e6d3;
  --green-20-opacity: color-mix(in srgb, var(--green-20) 8%, transparent);
  --green-30: #95c0a6;
  --green-50: #5c816c;
  --blue-20: #c8c7e6;
  --blue-20-opacity: color-mix(in srgb, var(--blue-20) 8%, transparent);
  --blue-30: #959ac0;
  --blue-50: #5c5d81;
  // Neutral
  --neutral-0: #ffffff;
  --neutral-0-opacity: color-mix(in srgb, var(--neutral-0) 20%, transparent);
  --neutral-10: #f4f4f4;
  --neutral-20: #dddddd;
  --neutral-30: #c7c4c3;
  --neutral-40: #b0aca9;
  --neutral-50: #999491;
  --neutral-60: #837d79;
  --neutral-70: #6c6662;
  --neutral-80: #554f4c;
  --neutral-90: #3f3a37;
  --neutral-100: #2a2623;
  // Primary
  --primary-10: #fff3ed;
  --primary-20: #ffd7c5;
  --primary-20-opacity: color-mix(in srgb, var(--primary-20) 8%, transparent);
  --primary-30: #ffbb9e;
  --primary-40: #ffa076;
  --primary-50: #ff844e;
  --primary-60: #ea703a;
  --primary-70: #c85725;
  --primary-80: #a64115;
  --primary-90: #842e08;
  --primary-100: #621e00;

  // Background and logo
  --background-image: url('/assets/images/background.svg');
  --logo-image: url('/assets/images/logo.svg');
  --footer-image: url('/assets/favicon/favicon.svg');

  @include theme.state-color();
  @include theme.custom-color();
}
