@use '@angular/material' as mat;

.app {
  --header-height: 60px;
  --sidenav-width: 250px;
  --banner-height: 0px;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &--with-banner {
    --banner-height: 64px;

    .content {
      height: calc(100vh - var(--banner-height)) !important;
    }

    .content__main {
      max-height: calc(100vh - var(--banner-height) - var(--header-height) - 16px) !important;
    }
  }

  .sidenav {
    display: flex;
    min-width: var(--sidenav-width);
    max-width: var(--sidenav-width);

    @include mat.sidenav-overrides(
      (
        container-shape: var(--mat-sys-corner-none),
        container-divider-color: var(--stroke-default),
      )
    );

    &--large {
      --sidenav-width: 350px;
      border-right: 1px solid var(--stroke-default);
    }

    &__content {
      display: flex;
      flex-direction: column;
      // 100% view height
      height: 100vh;
      overflow: hidden;

      &-menu {
        padding-top: 16px;
        min-height: 0;
        flex: 1 1 auto;
        overflow-y: auto;

        &--over-mode {
          padding-top: 0;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

    &__header {
      display: flex;
      align-items: center;
      max-height: var(--header-height);
      width: 100%;
      background-color: var(--block);

      &-menu-tgl {
        margin-left: 0.5rem;
      }
    }

    &__main {
      padding-inline: 16px;
      margin-top: 16px;

      flex: 1 0 auto;
      max-height: calc(100vh - var(--header-height) - 16px);
      width: calc(100% - 32px);
    }
  }
}

.application-logo {
  display: flex;
  justify-content: start;
  align-items: start;

  margin-left: 16px;
  padding-left: 16px;
  padding-block: 16px;

  width: var(--logo-width);
  height: var(--logo-height);
  background-image: var(--logo-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.announcement-banner {
  display: flex;
  align-items: center;
  height: 64px;
  padding-inline: 16px;
  margin-left: var(--sidenav-width);
  gap: 8px;

  &__text {
    flex: 1;
    font: var(--mat-sys-body-medium);

    display: -webkit-box;
    --nb-line: 2;
    line-clamp: var(--nb-line);
    -webkit-line-clamp: var(--nb-line);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__close {
    flex-shrink: 0;
  }

  &--info {
    background-color: var(--alert-info);
    color: var(--text-input-dark);
  }

  &--warn {
    background-color: var(--alert-warning);
    color: var(--text-input-dark);
  }

  &--error {
    background-color: var(--alert-error);
    color: var(--text-input-dark);
  }
}

.smallScreen .announcement-banner {
  margin-left: 0;
}
